:root {
  --primary-color: rgb(10, 104, 255);
}

.home-page .navbar .form-control {
  border: none;
}

.search-icon {
  margin: 0 10px;
}

.input-group input.form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

.input-group input.form-control:focus-within {
  border: 1px solid var(--primary-color);
}
