:root {
  --primary-color: rgb(10, 104, 255);
}

.home-page .navbar .form-control {
  border: none;
}

.search-icon {
  margin: 0 10px;
}

.input-group input.form-control:focus,
.input-group button.btn:focus {
  box-shadow: none;
  border-color: transparent;
}

.input-group:focus-within {
  border: 1px solid var(--primary-color) !important;
}
.input-group button.btn:hover {
  background-color: rgba(10, 104, 255, 0.2);
}
.input-group button.btn {
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: var(--primary-color);
}
.input-group button.btn::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 60%;
  top: 20%;
  left: -1px;
  background-color: #ccc;
}

.active a {
  font-weight: 500s;
  color: var(--primary-color) !important;
}
