.small-img-item {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}
.small-img-item img {
  height: 100%;
}
.small-img-item.active {
  border: 1px solid rgb(13, 92, 182);
}
