/* Product img */
.small-img-item {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.small-img-item img {
  height: 100%;
  border-radius: 4px;
}
.small-img-item img.active {
  border: 1px solid rgb(13, 92, 182);
}

/* Content */
.product-detail__content {
  padding-left: 8px;
}
.product-detail__content--header {
  padding: 16px 28px 16px 0px;
}
.product-detail__content--header .brand {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 400;
}
.product-detail__content--header .brand a {
  color: rgb(13, 92, 182);
  text-decoration: none;
  font-weight: 500;
  margin-left: 8px;
}
.product-detail__content--header .brand a:hover {
  opacity: 0.95;
}
